*{
    box-sizing: border-box;
}


.header-container{
    width: 1280px;
    height: 189px;
    margin: 63px auto 48px auto;
}
.title{
    width: 334px;
    height: 79px;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 0;
    margin-left: 0;
    list-style-type: none;
    text-decoration: none;
}
.span-title{
    color: black;
}
.link{
    text-decoration: none;
    color: #4BCAFF;
}
.nav-menu{
    display: flex;
    background: #35444F;
    justify-content: center;
    margin-top: 41px;
}
.nav-menu li{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 20px 40px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.nav-menu li:hover{
    background-color: #222F3A;
}

.aside-menu{
    border: 1px solid rgba(0, 0, 0, 1);
    width: 344px;
    height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   align-items: flex-start;
}
.aside-menu li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding-left: 40px;

}
.aside-menu li:hover{
    background-image: url("img/hover-fon.png");
    width: 342px;
    height: 81px;
    padding-top: 27px;
    padding-left: 60px;
}
.wrapper{
    display: flex;
    width: 1280px;
    margin: 0 auto;
}
.main-container{
    display: block;
    width: 885px;
    height: 832px;
    margin-left: 53px;
}
.block-img{
    display: flex;
    background-image: url("img/top-img-fon.png");
    width: 885px;
    height: 529px;
    justify-content: center;
    align-items: center;
}
.image-ramda{
    width: 320px;
    height: 381px;
}
.image-ramda:hover{
    width: 350px;
    height: 410px;
    transition: 1s;
}
.block-text-1{
    width: 885px;
    height: 120px;
    margin: 37px 0 34px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.block-text-2{
    width: 885px;
    height: 109px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.footer-container{
    width: 1280px;
    height: 79px;
    background-color: rgba(99, 105, 110, 0.48);
    margin: 53px auto;
}
.menu-footer{
    display: flex;
   justify-content: space-around;
}
.menu-footer li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    padding: 20px;
}
.menu-footer li:last-child{
    flex-grow: 1;
    padding-left: 135px;
}
.menu-footer li:hover{
    color: #3181A6;
    border-bottom: 1px #3181A6 solid;
    padding-bottom: 13px;
}
